.site-header {
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.95);
}

.site-header .content {
    display: flex;
    flex-wrap: wrap;
}

.site-header h1,
.site-header p {
    padding: 0;
    margin: 0;
    min-width: 200px;
    max-width: 68%;
    flex: 1;
}

.site-header h1 img {
    width: 203px;
    height: 40px;
    display: block;
    border: 0;
    max-width: 100%;
}

.site-header .page-link {
    padding: 5px 12px;
}

.site-nav {
    padding: 10px 0 0;
    line-height: 40px;
}

.site-navlist {
    list-style: none;
    display: inline-block;
}

.site-navlist li {
    display: inline;
}

.site-navlist li .page-link {
    transition: all 75ms linear;
}

.site-navlist li .current {
    color: #ff5a00;
}

@media all and (min-width: 900px) {
    .site-nav {
        flex: 3;
        padding: 0;
    }
    .site-navlist+.site-navlist {
        float: right;
    }
}

.skip-link {
    position: absolute;
    left: -999em;
    color: #006456;
}

.skip-link:focus {
    position: absolute;
    left: 10px;
    top: 10px;
}

.site-footer {
    padding: 2em 0;
    background: #fff;
}

.site-footer .site-title img {
    height: 22px;
    width: 72px;
    vertical-align: middle;
}

html,
body,
ul,
li {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: #333;
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h2 {
    font-weight: 300;
    margin-top: 0;
}

.title {
    font-size: 2em;
    font-weight: 100;
    margin: 24px 0;
}

.color-header-content {
    max-width: 900px;
    margin: 161px auto 0;
    background: #35769e;
    padding: 32px;
    color: #fff;
    z-index: 20;
}

.color-header-content h2 {
    font-weight: 100;
    font-size: 32px;
    margin: 0 0 1em;
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    margin: auto;
}

.video-wrapper>div {
    position: relative;
    padding-top: 56.25%;
}

.video-wrapper>div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper.wide {
    max-width: 100%;
}

.anchor a {
    opacity: 0;
}

.anchor a:hover {
    opacity: 1;
}

.podcast-icons img {
    width: 30px;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.podcast-icons a:link,
.podcast-icons a:visited {
    color: #fff;
}

.podcast-icons audio {
    vertical-align: middle;
    border-radius: 5px;
    max-height: 40px;
    max-width: 220px;
}

.podcast-icon {
    display: inline-block;
    margin: 0 5px 10px 0;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.podcast-spotify {
    background: #1ED760;
}

.podcast-applepodcasts {
    background: #4285F4;
}

.podcast-googlepodcasts {
    background: #9933CC;
}

.podcast-buzzsprout {
    display: block;
}

.cover-card {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.cover-card img {
    max-width: 95%;
}

.cover-card>div {
    flex: 1 1 360px;
}

.cover-card>div.podcast-cover {
    flex: 1;
}

.podcast-toc li {
    list-style-type: none;
    padding: 0 0 5px 5px;
}

.not-published {
    filter: grayscale(1);
    opacity: 0.6;
}

.site-header {
    padding: 1em;
    background: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-row-gap: 0.5em;
    grid-template-areas: "a b c d"
}

.site-header .back-link {
    grid-column-start: center;
    grid-area: a;
    align-self: start;
    justify-self: stretch;
    line-height: 40px
}

.site-header .back-link img {
    height: 1.3em;
    vertical-align: text-bottom
}

.site-header .logo {
    grid-column-start: center;
    grid-area: b;
    align-self: start;
    justify-self: stretch
}

.site-header .site-nav {
    grid-column-start: center;
    grid-area: c;
    align-self: end;
    justify-self: stretch;
    line-height: 40px
}

.site-header .site-nav .site-navlist {
    list-style: none;
    display: inline-block
}

.site-header .site-nav .site-navlist li {
    display: inline
}

@media all and (max-width: 900px) {
    .site-header {
        grid-template-areas: "a a a a" "b b c c" "d d d d"
    }
}

@media all and (max-width: 400px) {
    .site-header {
        grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d"
    }
    .site-header .site-nav {
        justify-self: start
    }
}

.site-header h1,
.site-header p {
    padding: 0;
    margin: 0;
    min-width: 200px;
    max-width: 68%;
    flex: 1
}

.site-header h1 img {
    width: 203px;
    height: 40px;
    display: block;
    border: 0;
    max-width: 100%
}

.site-footer {
    padding: 2em 0;
    background: #fff
}

.site-footer .site-title img {
    height: 22px;
    width: 72px;
    vertical-align: middle
}

html,
body,
ul,
li {
    padding: 0;
    margin: 0
}

html {
    font-size: 62.5%
}

body {
    background: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    color: #333
}

.content {
    max-width: 940px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box
}

html,
body {
    height: 100%
}

h2 {
    font-weight: 300;
    margin-top: 0
}

.title {
    font-size: 2em;
    font-weight: 100;
    margin: 24px 0
}

.color-header-content {
    max-width: 900px;
    margin: 161px auto 0;
    background: #35769e;
    padding: 32px;
    color: #fff;
    z-index: 20
}

.color-header-content h2 {
    font-weight: 100;
    font-size: 32px;
    margin: 0 0 1em
}

.video-wrapper {
    width: 100%;
    max-width: 560px;
    margin: auto
}

.video-wrapper>div {
    position: relative;
    padding-top: 56.25%
}

.video-wrapper>div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.video-wrapper.wide {
    max-width: 100%
}

.anchor a {
    opacity: 0
}

.anchor a:hover {
    opacity: 1
}