---
import BaseBody from '../layouts/Body.astro';
import BaseHead from '../layouts/Head.astro';
// Component Imports
import PodcastPlayer from '../components/PodcastPlayer.astro';
import {podcasts} from '../lib/api.mjs';
import AboutPodcast from '../components/AboutPodcast.astro';
import PodcastHeader from '../components/PodcastHeader.astro';
import Description from '../components/Description.astro';
import Footnotes from '../components/Footnotes.astro';

const title = "Allegro.tech podcast";

---
<!DOCTYPE html><html lang="en">
<head>
    <BaseHead/>
</head>
<BaseBody>


<div class="desk">
{podcasts.map( (podcast, index) => (
<section class="content">
    <div class="m-card" itemType="http://schema.org/PodcastEpisode">
      <PodcastHeader podcast={podcast}/>
      <div class="cover">
       {index < 3 ?
        <PodcastPlayer url={podcast.spotify.url} />
        <Description toc = {podcast.toc} />
        <Footnotes footnotes = {podcast.footnotes || []} />
        : ''}

      </div>
    </div>
</section>
))}
</div>
<AboutPodcast />
</BaseBody>
</html>
