<section id="main-content" class="section-latest section-podcast">
            <header>
                <div class="content">
                    <section class="posts">
                        <article class="latest">
                            <span class="post-link">Allegro Tech Podcast</span>
                            <p>Misją Allegro Tech jest dzielenie się wiedzą oraz dobrymi praktykami. Podcasty obok tech bloga są
                            naszym sposobem aby opowiadać
                            o tym jakie wyznajemy wartości oraz w jakim kierunku zmierzamy.
                            Kolejne odcinki będą zbiorem angażujących historii, dobrych praktyk i inspirujących
                        case-studies. Do usłyszenia!</p>
                        </article>
                    </section>
                </div>
            </header>
        </section>
