---
export interface Props {
  podcast: any;
}
import {formatDate} from '../lib/format-date.mjs';
const { podcast } = Astro.props;
---
<time class="entry-date" dateTime={podcast.date}><span>{formatDate(podcast.date)}</span></time>
<h2 itemProp="headline">
<a itemProp="name" href={"/" + podcast.slug} class="post-link">{podcast.podcastTitle}</a>
</h2>