---
import {podcasts,  getPodcastBySlug} from '../../lib/api.mjs';
import PodcastPlayer from '../../components/PodcastPlayer.astro';
import BaseHead from '../../layouts/HeadSingle.astro';

export async function getStaticPaths() {
    return podcasts.map(item => {
        return {
            params : {slug: item.slug}
        }
    })
}
const {slug} = Astro.params;


const podcast =  getPodcastBySlug(slug);
let title =  podcast.title;
---
<!DOCTYPE html><html lang="en">
<head>
<BaseHead podcast = {podcast}/>
</head>
 <body>
    <PodcastPlayer url={podcast.spotify.url} />
 </body>
 </html>
